@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
header{
    font-family: var(--fonte-padrao);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    color: white;
    height: 150px;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
header > p {
    padding-top: 25px;
}
@media(min-width: 425px){
    h1#cabecalho{
        font-family: var(--fonte-destaque);
        font-size: 1em;
    }
}
h1#cabecalho{
    font-family: var(--fonte-destaque);
    font-size: 2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.678);
    font-weight: lighter;
}
nav{
    text-align: left;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.288);
    padding: 10px;
    margin: auto;
    
}
a#cabecalho{
    color:var(--cor1);
    padding: 7px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    padding: 5px;
}
body{
    background-color: #c5ebd6;
    margin: 0;
}
a.externo::after {
    content: '\00A0\1F517';
}
article{
    color:black;
    padding: 15px;
}
main{
    padding-top:30px;
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img {
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
h1#cabecalho{
    font-family: var(--fonte-destaque);
    font-weight: 100;
    font-size: 3em;
    
}
header > p {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.712);
}
article > h1{
    font-family: var(--fonte-android);
    color:var(--cor3);
    font-size: 2em;
    font-weight: normal;

}
article > h2{
    font-family: var(--fonte-android);
    font-size: 1.3m;
    color:var(--cor3);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    font-weight: normal;
}
main p {
    text-align: justify;
    text-indent: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 15px 0px;
    font-size: 1em;
    line-height: 2em;
}
main strong {
    font-weight: bold;
    padding: 2px 6px;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}
div.video {
    background-color: var(--cor5);
    margin: 0px -15px 30px -15px;
    padding: 20px;
    padding-bottom: 56%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
aside h3 {
    color:white;
    background-color: var(--cor4);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul {
    list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside p {
    padding-bottom: 8px;
    margin: 0px;
    line-height: 1.5em;
}
footer{
    color:white;
    text-align: center;
    background-color: #063d1e;
    margin-top:15px;
    padding: 10px;
    font-size: 20px;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor1)
}